.home{
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    margin-top: 15px;
}
.dontshow{
    grid-template-columns: 0.08fr 1fr;
}
@media (max-width:680px)
{
    .home{
    display: grid;
    grid-template-columns: 0.43fr 1fr;
    margin-top: 15px;}
    .dontshow{
        grid-template-columns: 0.2fr 1fr;
    }
}